body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f1f1f1;
}

.welcome-message {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.login-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0.3rem;
  font-size: 16px;
  width: 100%;
  cursor: pointer;
  padding: 5px;
  transition: background-color 0.3s ease;
}

.login-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.login-button:disabled:hover {
  background-color: #a4a0a0;
}

.login-button:hover {
  background-color: #0069d9;
}

.connected-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f1f1f1;
  gap: 30px;
}

.connected-header {
  font-size: 2rem;
  text-align: center;
  margin: 0;
}

.connected-account {
  font-size: 1.2rem;
  text-align: center;
  margin: 0;
}

.connected-account code {
  font-size: 15px;
}

.connected-button {
  background-color: #007bff;
  color: #fff;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.3rem;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 2rem;
}

.connected-button:hover {
  background-color: #0069d9;
}

.connected-contract-address {
  font-size: 1.2rem;
  text-align: center;
}

.candidates-table {
  border-collapse: collapse;
  width: 50%;
  text-align: center;
}

.candidates-table th,
.candidates-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.candidates-table th {
  background-color: #f2f2f2;
}

input[type='number'] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

.vote-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
